.sidebar {
  background-color: white;
  padding-top: 76px;
  padding-left: 18px;
  padding-right: 18px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-start;
}

.sidebar-icons {
  text-align: center;
  padding: 12px 12px;
  white-space: nowrap;
  background-color: rgba(233, 233, 233, 0);
  width: 40px;
  height: 50px;
  margin-bottom: 6px;
  border-radius: 10px;
  transition: background-color .2s;
}

.sidebar-icons:hover {
  background-color: rgba(233, 233, 233,1);
}

.sidebar-icons img {
  width: 30px;
  height: 30px;
}

.sidebar-icons p {
  font-size: .64rem;
  text-overflow: ellipsis;
  overflow: hidden;
}